



form.main-form{
  margin: 0 1%;
}

form.main-form > div{
  margin: 0 1em;
}




form.main-form fieldset{
  border:1px solid #ccc;
  max-width:350px;
}

form.main-form fieldset{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  margin-left:.5px
  padding: 0.2em .5em;
}



input:required
